form .fancyInput {
  box-shadow:0 1px 0 rgba(255,255,255,.15), 0 2px 4px rgba(0,0,0,.2) inset, 0 0 12px rgba(255,255,255,.1);
  display: block;
  vertical-align:middle;
  text-align:left;
  padding:8px 20px; background:rgba(0,0,0,.1); border-radius:10px;
  width: 100%;
}

form .fancyInput input, form .fancyInput textarea, form .fancyInput .grippie {
  border: 0;
  background: 0;
  background-image: none;
}

form .fancyInput .grippie  {
  overflow: auto;
  height: 100%;
}